*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --grid-column-minWidth: clamp(40px, calc(75vw / 7), 125px);
    --close-btn-width: 18px;
}

/*  Genral Style */
main {
    max-width: 1250px;
    font-family: 'Times New Roman', Times, serif;
    margin: 50px auto;
}

.team-grid__logo {
    grid-column: 3/-3;
    -ms-grid-row: 2;
    grid-row: 2/2;
}

.team-grid__logo img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    padding: 10px;
}

.team-grid__box {
    border-radius: 8px;
    min-height: 350px;
    width: 500px;
    max-width: 45vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background: rgba(255, 255, 255, 0.9);
    -webkit-transition: all 0.2s ease, width 0.15s, height 0s, -webkit-transform 0s;
    transition: all 0.2s ease, width 0.15s, height 0s, -webkit-transform 0s;
    transition: all 0.2s ease, transform 0s, width 0.15s, height 0s;
    transition: all 0.2s ease, transform 0s, width 0.15s, height 0s, -webkit-transform 0s;
}

.team-grid__box:nth-child(n + 20) {
    display: none !important;
}

.team-grid__box__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (var(--grid-column-minWidth))[3];
    -ms-grid-columns: (var(--grid-column-minWidth))[7];
    grid-template: repeat(3, var(--grid-column-minWidth))/repeat(7, var(--grid-column-minWidth));
    grid-gap: calc(var(--grid-column-minWidth) / 5);
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 5;
}

.team-grid__box__content-image {
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.team-grid__box__content-image:hover {
    -webkit-transform: scale(1.04);
    transform: scale(1.04);
    z-index: 0;
}

.team-grid__box__content-image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
    max-height: var(--grid-column-minWidth);
    max-width: var(--grid-column-minWidth);
    padding: 10px;
}

.team-grid__box__content-title {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 50%;
    flex: 1 0 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    position: relative;
    padding: 10px;
    padding-right: 40px;
}

.team-grid__box__content-title h3 {
    font-size: 22px;
    display: block;
    padding-right: 50px;
}

.team-grid__box__content-title .close__btn {
    position: absolute;
    right: -10px;
    top: -10px;
    font-size: var(--close-btn-width);
    cursor: pointer;
    background: #b9b7b3 !important;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    padding: 6px;
    border-radius: 50%;
    border: 1px solid #fff;
    width: var(--close-btn-width);
    height: var(--close-btn-width);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.team-grid__box__content-title .close__btn svg {
    width: var(--close-btn-width);
    height: var(--close-btn-width);
}

.team-grid__box__content-title .close__btn * {
    stroke: white;
}

.team-grid__box__content-short_description {
    font-size: 16px;
    display: block;
    padding-right: 15px;
}

.team-grid__box__content-description {
    padding: 10px 30px;
}

/*  In active State  */
.team-grid__box__in-active :is(.team-grid__box__in-active__content-title, .team-grid__box__in-active__content-description) {
    opacity: 0;
    visibility: hidden;
}

.team-grid__box__in-active.team-grid__box {
    display: block;
    background: transparent;
    width: var(--grid-column-minWidth);
    height: var(--grid-column-minWidth);
    min-height: var(--grid-column-minWidth);
    max-width: var(--grid-column-minWidth);
}

.team-grid__box__in-active .team-grid__box__content-title,
.team-grid__box__in-active .team-grid__box__content-description {
    display: none !important;
    opacity: 0;
    visibility: hidden;
}

.team-grid__box__in-active * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*  Active State */
.active__pop-up {
    position: relative;
    z-index: 9;
}

.active__pop-up.team-grid__box {
    background: #e1faff !important;
    height: -webkit-max-content !important;
    height: -moz-max-content !important;
    height: max-content !important;
    min-height: auto !important;
}

.active__pop-up .team-grid__box p {
    margin-bottom: 0.5em;
}

.active__pop-up .team-grid__box__content-image {
    cursor: initial;
}

.active__pop-up .team-grid__box__content-image {
    -webkit-transform: scale(1.04);
    transform: scale(1.04);
}

@media screen and (min-width: 900px) {
    .active__pop-up:is(:nth-child(6), :nth-child(7), :nth-child(8), :nth-child(11), :nth-child(12), :nth-child(17), :nth-child(18), :nth-child(19)) {
        -webkit-transform: translateX(calc(-100% + var(--grid-column-minWidth)));
        transform: translateX(calc(-100% + var(--grid-column-minWidth)));
    }
}

@media screen and (max-width: 899px) {
    .team-grid__logo {
        grid-column: 2/-2;
        -ms-grid-row: 2;
        grid-row: 2/2;
    }
    .team-grid__logo img {
        padding: 5px;
    }
    .team-grid__box {
        background: #dff9fd;
        border: transparent;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -ms-flex-line-pack: start;
        align-content: flex-start;
        min-height: 280px;
        width: 350px;
    }
    .team-grid__box:nth-child(n + 14) {
        display: none !important;
    }
    .team-grid__box__container {
        display: -ms-grid;
        display: grid;
        -ms-grid-rows: (var(--grid-column-minWidth))[5];
        -ms-grid-columns: (var(--grid-column-minWidth))[5];
        grid-template: repeat(5, var(--grid-column-minWidth))/repeat(5, var(--grid-column-minWidth));
    }
    .team-grid__box p {
        margin: 0;
        font-size: 12px;
    }
    .team-grid__box__content-image img {
        padding: 2px;
    }
    .team-grid__box__content-title {
        padding: 10px;
    }
    .team-grid__box__content-title h3 {
        padding-bottom: 15px;
        font-size: 20px;
        padding-right: 25px;
    }
    .team-grid__box__content-description {
        padding: 15px;
    }
    .active__pop-up .close__btn {
        width: 17px;
        height: 17px;
    }
    .active__pop-up:is(:nth-child(5), :nth-child(6), :nth-child(8), :nth-child(11), :nth-child(12), :nth-child(13)) {
        -webkit-transform: translateX(calc(-100% + var(--grid-column-minWidth)));
        transform: translateX(calc(-100% + var(--grid-column-minWidth)));
    }
    .active__pop-up:is(:nth-child(4), :nth-child(11)) {
        -webkit-transform: translateX(-15vw);
        transform: translateX(-15vw);
    }
    .active__pop-up {
        min-width: 65vw;
    }
}

@media screen and (max-width: 700px) {
    :root {
        --grid-column-minWidth: 14vw !important;
    }
}
/*# sourceMappingURL=css.css.map */